.user-logout-icon{
    padding-left: 10%;
    width: 30px;
    height: 30px;
   
  }
  .user-logout-button-nav{

    margin-top: 20px;
    margin-left: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    display: flex;
    justify-content:space-evenly;
  }

  .user-logout-button-value-no-img{
    text-align: center;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    border: 2px solid #D2D2D2;
    font-family: "Urbanist";
    font-size: 20px;
    background-color: #fff;
    color: #000;
    transition: background-color 0.3s, box-shadow 0.3s; /* Add a smooth transition for a better visual effect */
  }
  .user-logout-button-value-no-img:hover{
    background-color: #f1eaff;
    color: #333;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a box shadow for a subtle elevation effect */
    z-index: 1; /* Adjust the z-index as needed to control the stacking order */
  }
  .disabled{
    border: none;
    background-color: #fff;
  }
  @media only screen and (max-width: 768px) {
    .user-logout-icon {
      padding-left: 0%;
      width: 20px;
      height: 20px;
    }
    .user-logout-button-value-no-img{
      text-align: center;
      height: 30px;
      width: 100px;
      border-radius: 10px;
      border: 2px solid #D2D2D2;
      font-family: Calibri;
      font-size: 12px;
      background-color: #fff;
      color: #000;
    }
  }