.reports {
    margin-left: 100px;
    margin-top: 70px;
    margin-bottom: 100px;
    margin-right: 100px;
    border-radius: 15px;
    border: 2px solid #D2D2D2;
}

.reports-data {
    margin-top: 50px;
    height: 700px;
}

.reports-data-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 60%;
    height: 40px;
    margin: auto;
    font-family: "Urbanist";
    font-size: 20px;
    font-style: bold;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.289px;
}

.end {
    border-radius: 0px 100px 100px 0px;
}

.start {
    border-radius: 100px 0px 0px 100px;
}

.reports-data-header-button {
    background-color: #fff;
    color: #5925DC;
    border: 1px solid #5925DC;
}

.reports-data-header-button:hover {
    cursor: pointer;
    background-color: #f1eaff;
}

.reports-data-header-button:active {
    background-color: #5925DC;
    color: #fff;
    border: 1px solid #5925DC;
}

.reports-data-body-container {
    display: flex;
    justify-content: center;
}

.reports-data-body {
    display: flex;
    width: 100%;
    border-radius: 15px;
    background: #f4f3ff;
    margin: 20px;
    height: 70%;
    overflow-y: auto;
}

.reports-data-body-table-load {
    margin-top: 20px;
}

.reports-data-body-table-load-head {
    padding-top: 20px;
    border-radius: 10px;
    background: #FEFEFE;
}

.reports-data-body-table-load-head-row {

    font-family: "Urbanist";
    font-size: 18px;
    font-style: bold;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.289px;
    color: #767676;
}

.reports-data-body-table-load {
    width: 100%;
    height: 60px;
    border-collapse: collapse;
}

.reports-data-body-table-load-body {
    font-family: "Urbanist";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.289px;
    color: #767676;
    text-align: center;
}

.reports-data-body-table-day {
    margin-top: 20px;
}

.reports-data-body-table-day-head {
    padding-top: 20px;
    border-radius: 10px;
    background: #FEFEFE;
}

.reports-data-body-table-day-head-row {

    font-family: "Urbanist";
    font-size: 18px;
    font-style: bold;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.289px;
    color: #767676;
}

.reports-data-body-table-day {
    width: 100%;
    height: 60px;
    border-collapse: collapse;
}

.reports-data-body-table-day-body {
    font-family: "Urbanist";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.289px;
    color: #767676;
    text-align: center;
}



.reports-data-body-table-item {
    margin-top: 20px;
}

.reports-data-body-table-item-head {
    padding-top: 20px;
    border-radius: 10px;
    background: #FEFEFE;
}

.reports-data-body-table-item-head-row {

    font-family: "Urbanist";
    font-size: 18px;
    font-style: bold;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.289px;
    color: #767676;
}

.reports-data-body-table-item {
    width: 100%;
    height: 60px;
    border-collapse: collapse;
}

.reports-data-body-table-item-body {
    font-family: "Urbanist";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.289px;
    color: #767676;
    text-align: center;
}

.reports-data-body-table-vechicle {
    margin-top: 20px;
}

.reports-data-body-table-vechicle-head {
    padding-top: 20px;
    border-radius: 10px;
    background: #FEFEFE;
}

.reports-data-body-table-vechicle-head-row {

    font-family: "Urbanist";
    font-size: 18px;
    font-style: bold;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.289px;
    color: #767676;
}

.reports-data-body-table-vechicle {
    width: 100%;
    height: 60px;
    border-collapse: collapse;
}

.reports-data-body-table-vechicle-body {
    font-family: "Urbanist";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.289px;
    color: #767676;
    text-align: center;
}



.reports-data-body-table-driver {
    margin-top: 20px;
}

.reports-data-body-table-driver-head {
    padding-top: 20px;
    border-radius: 10px;
    background: #FEFEFE;
}

.reports-data-body-table-driver-head-row {

    font-family: "Urbanist";
    font-size: 18px;
    font-style: bold;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.289px;
    color: #767676;
}

.reports-data-body-table-driver {
    width: 100%;
    height: 60px;
    border-collapse: collapse;
}

.reports-data-body-table-driver-body {
    font-family: "Urbanist";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.289px;
    color: #767676;
    text-align: center;
}

.reports-data-top {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.export-button {
    margin-left: 0px;
    margin-right: 50px;
    border-radius: 15px;
    border: 2px solid #5925DC;
    width: 120px;
    height: 35px;
    font-family: "Urbanist";
    text-decoration: none !important;
    font-size: 20px;
    font-style: normal;
    text-align: center;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: -0.289px;
    color: #ffffff;
    background-color: #5925DC;
}

.reports-search-input {
    margin-left: 0px;
    margin-right: 10px;
    border-radius: 15px;
    border: 2px solid #D2D2D2;
    width: 400px;
    height: 50px;
    font-family: "Urbanist";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.289px;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.pagination-container li {
    padding: 10px;
    border: 1px solid #5925DC;
    border-radius: 3px;
    color: #fff;
    font-family: "Urbanist";
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.325px;
    background-color: #5925DC;
    margin: 5px;
}

.pagination-container li:hover {
    cursor: pointer;
}

.pagination-container .active {
    background-color: #767676;
    color: #fff;
}

.pagination-container .disabled {
    color: #ada9a9;
    cursor: not-allowed;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .reports {
        margin-left: 100px;
        margin-top: 100px;
        margin-bottom: 100px;
        margin-right: 100px;
        border-radius: 15px;
        border: 2px solid #D2D2D2;
    }

    .export-button {
        margin-left: 50px;
        margin-right: 50px;
        border-radius: 15px;
        border: 2px solid #5925DC;
        width: 100px;
        height: 35px;
        font-family: "Urbanist";
        text-decoration: none !important;
        font-size: 30px;
        font-style: normal;
        text-align: center;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: -0.289px;
        color: #ffffff;
        background-color: #5925DC;
    }

    .reports-search-input {
        margin-left: 50px;
        margin-right: 50px;
        border-radius: 15px;
        border: 2px solid #D2D2D2;
        width: 300px;
        height: 50px;
        font-family: "Urbanist";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: -0.289px;
    }
}

@media only screen and (max-width: 768px) {
    .reports {
        margin-left: 10px;
        margin-top: 100px;
        margin-bottom: 100px;
        margin-right: 10px;
        border-radius: 15px;
        border: 2px solid #D2D2D2;
    }

    .reports-data-body {
        display: flex;
        width: 100%;
        border-radius: 15px;
        background: #F4F3FF;
        margin: 5px;
    }

    .reports-data-body-table-load-head-row {
        font-family: "Urbanist";
        font-size: 12px;
        font-style: bold;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: -0.289px;
        color: #767676;
    }

    .reports-data-body-table-load-body {
        font-family: "Urbanist";
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: -0.289px;
        color: #767676;
        text-align: center;
    }

    .reports-data-body-table-day-head-row {
        font-family: "Urbanist";
        font-size: 12px;
        font-style: bold;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: -0.289px;
        color: #767676;
    }

    .reports-data-body-table-day-body {
        font-family: "Urbanist";
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: -0.289px;
        color: #767676;
        text-align: center;
    }

    .reports-data-body-table-item-head-row {
        font-family: "Urbanist";
        font-size: 12px;
        font-style: bold;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: -0.289px;
        color: #767676;
    }

    .reports-data-body-table-item-body {
        font-family: "Urbanist";
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: -0.289px;
        color: #767676;
        text-align: center;
    }

    .reports-data-body-table-vechicle-head-row {
        font-family: "Urbanist";
        font-size: 12px;
        font-style: bold;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: -0.289px;
        color: #767676;
    }

    .reports-data-body-table-vechicle-body {
        font-family: "Urbanist";
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: -0.289px;
        color: #767676;
        text-align: center;
    }

    .reports-data-body-table-driver-head-row {
        font-family: "Urbanist";
        font-size: 12px;
        font-style: bold;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: -0.289px;
        color: #767676;
    }

    .reports-data-body-table-driver-body {
        font-family: "Urbanist";
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: -0.289px;
        color: #767676;
        text-align: center;
    }

    .reports-data-header {
        /* display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        width: 99%;
        height: 52px;
        margin: auto 5px;
        font-family: "Urbanist";
        font-size: 15px;
        font-style: bold;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: -0.289px; */
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        width: 90%;
        height: 40px;
        margin: auto;
        font-family: "Urbanist";
        font-size: 20px;
        font-style: bold;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: -0.289px;
    }

    .reports-data-header-button {
        background-color: #fff;
        color: #5925DC;
        border: 1px solid #5925DC;
        font-size: 9px;
        padding: 0;
        margin: 0;
    }

    .export-button {
        margin-left: 25px;
        margin-right: 25px;
        border-radius: 15px;
        border: 2px solid #5925DC;
        width: 100px;
        height: 25px;
        font-family: "Urbanist";
        text-decoration: none !important;
        font-size: 15px;
        padding: 5px;
        font-style: normal;
        text-align: center;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: -0.289px;
        color: #ffffff;
        background-color: #5925DC;
    }

    .reports-search-input {
        margin-left: 30px;
        margin-right: 25px;
        border-radius: 15px;
        border: 2px solid #D2D2D2;
        width: 150px;
        height: 30px;
        font-family: "Urbanist";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: -0.289px;
    }

    .pagination-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        margin-right: 30px;
    }
}