/* src/styles/fonts.css */

@font-face {
    font-family: 'IBMPlexMono-Bold';
    src: url('./fonts/IBMPlexMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'IBMPlexMono-BoldItalic';
    src: url('./fonts/IBMPlexMono-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'IBMPlexMono-ExtraLight';
    src: url('./fonts/IBMPlexMono-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'IBMPlexMono-ExtraLightItalic';
    src: url('./fonts/IBMPlexMono-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'IBMPlexMono-Italic';
    src: url('./fonts/IBMPlexMono-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'IBMPlexMono-Light';
    src: url('./fonts/IBMPlexMono-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'IBMPlexMono-LightItalic';
    src: url('./fonts/IBMPlexMono-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'IBMPlexMono-Medium';
    src: url('./fonts/IBMPlexMono-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'IBMPlexMono-MediumItalic';
    src: url('./fonts/IBMPlexMono-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'IBMPlexMono-Regular';
    src: url('./fonts/IBMPlexMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'IBMPlexMono-SemiBold';
    src: url('./fonts/IBMPlexMono-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'IBMPlexMono-SemiBoldItalic';
    src: url('./fonts/IBMPlexMono-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'IBMPlexMono-Thin';
    src: url('./fonts/IBMPlexMono-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'IBMPlexMono-ThinItalic';
    src: url('./fonts/IBMPlexMono-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
  }
  