
.admin-logout-icon{
    padding-left: 10%;
    width: 30px;
    height: 30px;
   
  }
  .admin-logout-button-nav{
    margin-top: 20px;
    margin-left: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    display: flex;
    justify-content:space-evenly;
  }

  .admin-logout-button-value-no-img{
    text-align: center;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    border: 2px solid #D2D2D2;
    font-family: Calibri;
    font-size: 20px;
    background-color: #fff;
    color: #000;
  }