/* admin-user-manage component styles */
.admin-user-manage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }
  
  .admin-user-manage-data {
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 50px;
    border-radius: 15px;
    border: 2px solid #D2D2D2;
  }
  
  .admin-user-manage-data-title {
    font-family: Calibri;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: -0.578px;
    text-align: left;
    padding-left: 50px;
  }
  
  .admin-user-manage-data-table-head {
    color: #1A1A1A;
    font-family: Calibri;
    font-size: 20px;
    font-style: bold;
  }
  
  .admin-user-manage-data-table {
    margin-top: 20px;
    margin-bottom: 20px;
    border-collapse: collapse;
    width: 100%;
  }
  
  .admin-user-manage-data-table-body {
    color: #767676;
    font-family: Calibri;
    font-size: 20px;
    font-style: bold;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.289px;
  }
  
  .admin-user-manage-data-table-button {
    color: #FEFEFE;
    font-family: Calibri;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.325px;
    background-color: #5925DC;
    border-radius: 3px;
    border: 1px solid #5925DC;
  }
  
  .pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
  }
  .highlight{
    color: green !important;
}
  .pagination-container li {
    padding: 10px;
    border: 1px solid #5925DC;
    border-radius: 3px;
    color: #fff;
    font-family: Calibri;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.325px;
    background-color: #5925DC;
    margin: 5px;
  }
  
  .admin-user-manage-form-input-checkbox{
    width: 16px;
    height: 16px;
}
.admin-user-manage-form-input-checkbox-label{
    color: var(--color-grey-100, #1A1A1A);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Calibri;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.289px;
}
  
  .pagination-container li:hover {
    cursor: poCalibri;
  }
  
  .pagination-container .active {
    background-color: #767676;
    color: #fff;
  }
  
  .pagination-container .disabled {
    color: #ada9a9;
    cursor: not-allowed;
  }
  
  .admin-user-manage-form {
    margin-left: 50px;
    margin-top: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    border-radius: 15px;
    border: 2px solid #D2D2D2;
  }
  
  .admin-user-manage-form-title {
    font-family: Calibri;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: -0.578px;
    text-align: left;
    padding-left: 50px;
  }
  
  .admin-user-manage-form-input {
    border-radius: 6px;
    border: 1px solid #ededed;
    background: #EDEDED;
    height: 50px;
    width: 86%;
    margin-bottom: 20px;
    color: var(--color-grey-60, #767676);
    font-family: Calibri;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.289px;
  }
  .admin-user-manager-form-select-div{
    margin-left: 60px;
    border-radius: 6px;
    border: 1px solid #ededed;
    background: #EDEDED;
    height: 50px;
    width: 86%;
    margin-bottom: 20px;
    color: var(--color-grey-60, #767676);
    font-family: Calibri;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.289px;
  }
  .admin-user-manager-form-select {
    border-radius: 6px;
    border: 1px solid #ededed;
    background: #EDEDED;
    height: 50px;
    width: 86%;
    margin-bottom: 20px;
    color: var(--color-grey-60, #767676);
    font-family: Calibri;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.289px;
  }
  .admin-user-manage-form-button {
    color: var(--color-white-100, #FEFEFE);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Calibri;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: -0.289px;
    width: 331px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #5925DC;
    background: var(--color-primary-1, #5925DC);
    margin-bottom: 20px;
    margin-top: 20px;
  }