.admin-create-invoice-container{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
    border-radius: 15px;
    border: 2px solid #5925DC;
}
.admin-create-invoice-title{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: #1A1A1A;
    text-align: center;
}
.admin-create-invoice-subtitle{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    color: #1A1A1A;
    text-align: left;
    margin-left: 5%;
}
.admin-create-invoice-subtitle-table{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: #1A1A1A;
    text-align: left;
}
.admin-create-invoice-subtitle-table{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: #1A1A1A;
    text-align: left;
}
.admin-create-invoice-select{
    margin-top: 2%;
    border-radius: 6px;
    border: 1px solid #D2D2D2;
    width: 85%;
    height: 50px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    color: #1A1A1A;
    margin-top: 30px;
    margin-left: 60px;
}
.admin-create-invoice-data{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
    text-align: left;
}
.admin-create-invoice-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    margin-left: 8%;

}
.admin-create-invoice-form-label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    color:#767676;
}
.admin-create-invoice-form-input{
    border-radius: 6px;
    border: 1px solid  #D2D2D2;
    width: 80%;
    height: 40px;
    background: #EDEDED;
    color: #767676;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    margin-top:1%;
}
.admin-create-invoice-form-div{
    margin-top: 2%;
    margin-bottom: 1%;
}
.admin-create-invoice-table-consigment{
    margin-top: 3%;
    margin-left: 8%;
    margin-bottom: 2%;
    width: 80%;
}
.admin-create-invoice-select-table{
    border-radius: 6px;
    border: 1px solid #D2D2D2;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: #1A1A1A;
}
.admin-create-invoice-table-consigment-input{
    border-radius: 6px;
    border: 1px solid #D2D2D2;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: #767676;
    font-weight: bold;
    background: #EDEDED;
    width: 80%;
    height: 40px;
}
.admin-create-invoice-table-consigment-icon{
    width: 40px;
    height: 40px;
}
.admin-create-invoice-table-row-head{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.admin-create-invoice-table-row-body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.admin-create-invoice-table-consigment-button{
    border: none;
    background: none;
}
.admin-create-invoice-table-consigment-value{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #767676;
}
.admin-create-invoice-table-consigment-icon-low{
    width: 30px;
    height: 30px;
}
.admin-create-invoice-button{
    margin-left:40%;
    border-radius: 6px;
    border: 2px solid #5925DC;
    background: #5925DC;
    color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    width: 20%;
    height: 60px;
    font-weight: bold;
    margin-top:5%;
    margin-bottom: 2%;
}

/* Tablet Styles */
@media only screen and (max-width: 768px) {
    .admin-create-invoice-title{
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
        color: #1A1A1A;
        text-align: center;
    }
    .admin-create-invoice-subtitle{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
        color: #1A1A1A;
        text-align: left;
        margin-left: 5%;
    }
    .admin-create-invoice-select{
        margin-top: 2%;
        border-radius: 6px;
        border: 1px solid #D2D2D2;
        width: 85%;
        height: 50px;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 10px;
        color: #1A1A1A;
        margin-top: 30px;
        margin-left: 60px;
    }
    .admin-create-invoice-data{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 2%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 1%;
        text-align: left;
    }
    .admin-create-invoice-form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: left;
        margin-left: 8%;
    
    }
    .admin-create-invoice-form-label{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 10px;
        color:#767676;
    }
    .admin-create-invoice-form-input{
        border-radius: 6px;
        border: 1px solid  #D2D2D2;
        width: 80%;
        height: 40px;
        background: #EDEDED;
        color: #767676;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 10px;
        margin-top:1%;
    }
    .admin-create-invoice-form-div{
        margin-top: 2%;
        margin-bottom: 1%;
    }
    .admin-create-invoice-table-consigment{
        margin-top: 3%;
        margin-left: 8%;
        margin-bottom: 2%;
        width: 80%;
    }
    .admin-create-invoice-select-table{
        border-radius: 6px;
        border: 1px solid #D2D2D2;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 10px;
        color: #1A1A1A;
    }
    .admin-create-invoice-table-consigment-input{
        border-radius: 6px;
        border: 1px solid #D2D2D2;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 10px;
        color: #767676;
        font-weight: bold;
        background: #EDEDED;
        width: 80%;
        height: 40px;
    }
    .admin-create-invoice-table-consigment-icon{
        width: 40px;
        height: 40px;
    }
    .admin-create-invoice-table-row-head{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 10px;
        font-weight: bold;
        text-align: center;
    }
    .admin-create-invoice-table-consigment-button{
        border: none;
        background: none;
    }
    .admin-create-invoice-table-consigment-value{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 10px;
        text-align: center;
        font-weight: bold;
        color: #767676;
    }
    .admin-create-invoice-table-consigment-icon-low{
        width: 30px;
        height: 30px;
    }
    .admin-create-invoice-button{
        margin-left:40%;
        border-radius: 6px;
        border: 2px solid #5925DC;
        background: #5925DC;
        color: #FFFFFF;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 10px;
        width: 30%;
        height: 60px;
        font-weight: bold;
        margin-top:5%;
        margin-bottom: 2%;
    }

    .admin-create-invoice-data,
    .admin-create-invoice-form {
        grid-template-columns: 1fr;
        margin-left: 2%;
    }
}


