/* admin-buyer-manage component styles */
.admin-buyer-manage {
	display: grid;
	grid-template-columns: 1fr 1fr;
	text-align: center;
}

.admin-buyer-manage-data {
	margin-left: 75px;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-right: 25px;
	border-radius: 15px;
	max-height: 620px;
	border: 2px solid #d2d2d2;
}

.admin-buyer-manage-data-header {
	display: flex;
	/* grid-template-columns: 1fr 2fr; */
	flex-direction: column;
}

.upload-delete-btn-div {
	display: flex;
	flex-direction: row;
}

.delete-btn-div {
	margin-left: 50px;
}

.admin-buyer-manage-file-upload {
	padding-top: 32px;
	padding-left: 32px;
	padding-right: 32px;
	padding-bottom: 16px;
	border-radius: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 0;
}

.admin-buyer-manage-file-upload-button {
	background-color: #5925dc;
	color: white;
	padding: 10px 15px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
}

.admin-buyer-manage-file-upload-button:hover {
	background-color: #703ef0;
}

.admin-buyer-manage-file-upload-input[type=file] {
	padding: 4px;
	margin: -4px;
	position: relative;
	outline: none;
}

.admin-buyer-manage-file-upload-input[type=file]::file-selector-button {
	border-radius: 4px;
	padding: 0 16px;
	height: 40px;
	cursor: pointer;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.16);
	box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
	margin-right: 16px;
	width: 132px;
	color: transparent;
}

.admin-buyer-manage-file-upload-input[type=file]:hover::file-selector-button {
	background-color: #f3f4f6;
}

.admin-buyer-manage-file-upload-input[type=file]:active::file-selector-button {
	background-color: #e5e7eb;
}

.admin-buyer-manage-file-upload-input[type=file]::before {
	position: absolute;
	pointer-events: none;
	top: 14px;
	left: 16px;
	height: 20px;
	width: 20px;
	content: "";
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
}

.admin-buyer-manage-file-upload-input[type=file]::after {
	position: absolute;
	pointer-events: none;
	top: 16px;
	left: 40px;
	color: var(--primary-color);
	content: "Upload File";
}

.admin-buyer-manage-file-upload-input[type=file]:focus-within::file-selector-button,
.admin-buyer-manage-file-upload-input[type=file]:focus::file-selector-button {
	outline: 2px solid var(--primary-color);
	outline-offset: 2px;
}

.table-scroll-buyer {
	height: 340px;
	overflow-y: scroll;
}

.admin-buyer-manage-data-title {
	font-family: 'Urbanist';
	font-size: 26px;
	font-style: normal;
	font-weight: 600;
	line-height: 38px;
	letter-spacing: -0.578px;
	text-align: left;
	padding-left: 50px;
}

.admin-buyer-manage-data-table-head {
	color: #1a1a1a;
	font-family: 'Urbanist';
	font-size: 18px;
	font-style: bold;
}

.admin-buyer-manage-data-table {
	margin-top: 20px;
	margin-bottom: 20px;
	border-collapse: collapse;
	width: 100%;
}

.admin-buyer-manage-data-table-body {
	color: #767676;
	font-family: 'Urbanist';
	font-size: 14px;
	font-style: bold;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: -0.289px;
}

.admin-buyer-manage-data-table-button {
	color: #fefefe;
	font-family: 'Urbanist';
	font-size: 12px;
	font-style: normal;
	font-weight: 600;
	line-height: 28px;
	letter-spacing: -0.325px;
	background-color: #5925dc;
	border-radius: 3px;
	border: 1px solid #5925dc;
}

.admin-buyer-manage-data-table-button:hover {
	cursor: pointer;
}

.admin-buyer-manage-form {
	margin-left: 25px;
	margin-top: 100px;
	margin-right: 75px;
	margin-bottom: 100px;
	border-radius: 15px;
	border: 2px solid #d2d2d2;
}

.admin-buyer-manage-form-title {
	font-family: 'Urbanist';
	font-size: 26px;
	font-style: normal;
	font-weight: 600;
	line-height: 38px;
	letter-spacing: -0.578px;
	text-align: left;
	padding-left: 50px;
}

.admin-buyer-icon {
	border: none;
	height: 30px;
	width: 20px;
}

.highlight {
	color: green !important;
}

.admin-buyer-manage-form-input {
	border-radius: 6px;
	border: 1px solid #ededed;
	background: #ededed;
	height: 50px;
	width: 86%;
	margin-top: 20px;
	color: #767676;
	font-family: 'Urbanist';
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: -0.289px;
	text-transform: uppercase;
}

.admin-buyer-manage-form-button {
	color: #fefefe;
	text-align: center;
	font-feature-settings: 'clig' off, 'liga' off;
	font-family: 'Urbanist';
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 26px;
	letter-spacing: -0.289px;
	width: 331px;
	height: 48px;
	flex-shrink: 0;
	border-radius: 6px;
	border: 1px solid #5925dc;
	background: #5925dc;
	margin-bottom: 20px;
	margin-top: 20px;
}

.admin-buyer-manage-form-button:hover {
	cursor: pointer;
}

.admin-buyer-manage-form-input-checkbox {
	width: 16px;
	height: 16px;
}

.admin-buyer-manage-form-input-checkbox-label {
	color: #1a1a1a;
	font-feature-settings: 'clig' off, 'liga' off;
	font-family: 'Urbanist';
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: -0.289px;
}

.pagination-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	list-style-type: none;
}

.pagination-container li {
	padding: 10px;
	border: 1px solid #5925dc;
	border-radius: 3px;
	color: #fff;
	font-family: 'Urbanist';
	font-size: 12px;
	font-style: normal;
	font-weight: 600;
	line-height: 28px;
	letter-spacing: -0.325px;
	background-color: #5925dc;
	margin: 5px;
}

.pagination-container li:hover {
	cursor: pointer;
}

.pagination-container .active {
	background-color: #767676;
	color: #fff;
}

.pagination-container .disabled {
	color: #ada9a9;
	cursor: not-allowed;
}

/* Mobile styles - 768px width and below */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
	.admin-buyer-manage {
		display: grid;
		grid-template-columns: 1fr;
		text-align: center;
		align-items: center;
	}

	.admin-logout-button-nav {
		margin-top: 10px;
		margin-left: 5px;
		display: flex;
		flex-wrap: wrap;
		grid-gap: 15px;
		justify-content: space-evenly;
	}

	.admin-buyer-manage-data {
		margin-left: 35px;
		margin-top: 100px;
		margin-bottom: 100px;
		margin-right: 35px;
		border-radius: 15px;
		border: 2px solid #d2d2d2;
	}

	.admin-buyer-manage-form {
		margin-left: 35px;
		margin-top: 100px;
		margin-bottom: 100px;
		margin-right: 35px;
		border-radius: 15px;
		border: 2px solid #d2d2d2;
	}

	.upload-delete-btn-div {
		display: flex;
		flex-direction: row;
	}

	.delete-btn-div {
		margin-left: 30px;
	}
}

@media only screen and (min-width: 451px) and (max-width: 768px) {
	.admin-buyer-manage-data-header {
		display: flex;
		/* grid-template-columns: 1fr; */
		flex-direction: column;
	}

	.table-scroll-buyer {
		height: 320px;
		overflow-y: scroll;
	}

	.admin-buyer-manage {
		display: grid;
		grid-template-columns: 1fr;
		text-align: center;
		align-items: center;
	}

	.admin-logout-button-nav {
		margin-top: 10px;
		margin-left: 5px;
		display: flex;
		flex-wrap: wrap;
		grid-gap: 15px;
	}

	.admin-buyer-manage-data {
		margin-left: 15px;
		margin-top: 40px;
		margin-bottom: 20px;
		margin-right: 15px;
		border-radius: 12px;
		border: 2px solid #d2d2d2;
	}

	.admin-buyer-manage-form {
		margin-left: 15px;
		margin-top: 40px;
		margin-bottom: 20px;
		margin-right: 15px;
		border-radius: 12px;
		border: 2px solid #d2d2d2;
	}

	.admin-buyer-manage-data-title {
		font-family: 'Urbanist';
		font-size: 15px;
		font-style: normal;
		font-weight: 600;
		line-height: 38px;
		letter-spacing: -0.578px;
		text-align: left;
		padding-left: 50px;
	}

	.admin-buyer-manage-data-table-head {
		color: #1a1a1a;
		font-family: 'Urbanist';
		font-size: 10px;
		font-style: bold;
	}

	.admin-buyer-manage-data-table-body {
		color: #767676;
		font-family: 'Urbanist';
		font-size: 8px;
		font-style: bold;
		font-weight: 400;
		line-height: 28px;
		letter-spacing: -0.289px;
	}

	.admin-buyer-manage-form-input {
		border-radius: 6px;
		border: 1px solid #ededed;
		background: #ededed;
		height: 35px;
		width: 75%;
		margin-bottom: 20px;
		color: var(--color-grey-60, #767676);
		font-family: 'Urbanist';
		font-size: 10px;
		font-style: normal;
		font-weight: 400;
		line-height: 26px;
		letter-spacing: -0.289px;
	}

	.admin-buyer-manage-form-input {
		border-radius: 6px;
		border: 1px solid #ededed;
		background: #ededed;
		height: 35px;
		width: 75%;
		margin-bottom: 20px;
		color: #767676;
		font-family: 'Urbanist';
		font-size: 10px;
		font-style: normal;
		font-weight: 400;
		line-height: 26px;
		letter-spacing: -0.289px;
	}

	.admin-buyer-manage-form-title {
		font-family: 'Urbanist';
		font-size: 15px;
		font-style: normal;
		font-weight: 600;
		line-height: 38px;
		letter-spacing: -0.578px;
		text-align: left;
		padding-left: 50px;
	}

	.admin-buyer-manage-form-input-checkbox-label {
		color: #1a1a1a;
		font-feature-settings: 'clig' off, 'liga' off;
		font-family: 'Urbanist';
		font-size: 10px;
		font-style: normal;
		font-weight: 400;
		line-height: 26px;
		letter-spacing: -0.289px;
	}

	.admin-buyer-manage-form-button {
		color: #fefefe;
		text-align: center;
		font-feature-settings: 'clig' off, 'liga' off;
		font-family: 'Urbanist';
		font-size: 10px;
		font-style: normal;
		font-weight: 600;
		line-height: 26px;
		letter-spacing: -0.289px;
		width: 170px;
		height: 45px;
		flex-shrink: 0;
		border-radius: 6px;
		border: 1px solid #5925dc;
		background: #5925dc;
		margin-bottom: 20px;
		margin-top: 20px;
	}

	.admin-buyer-manage-data-table-button {
		color: #fefefe;
		font-family: 'Urbanist';
		font-size: 12px;
		font-style: normal;
		font-weight: 600;
		line-height: 28px;
		letter-spacing: -0.325px;
		background-color: #5925dc;
		border-radius: 3px;
		border: 1px solid #5925dc;
	}

	.admin-buyer-manage-form-input-checkbox {
		width: 12px;
		height: 12px;
	}

	.pagination-container li {
		padding: 10px;
		border: 1px solid #5925dc;
		border-radius: 3px;
		color: #fff;
		font-family: 'Urbanist';
		font-size: 8px;
		font-style: normal;
		font-weight: 600;
		line-height: 12px;
		letter-spacing: -0.325px;
		background-color: #5925dc;
		margin: 5px;
	}
}

@media only screen and (max-width: 450px) {
	.admin-buyer-manage {
		display: grid;
		grid-template-columns: 1fr;
		text-align: center;
		align-items: center;
	}

	.admin-buyer-manage-data {
		margin-left: 5px;
		margin-top: 40px;
		margin-bottom: 20px;
		margin-right: 5px;
		border-radius: 12px;
		border: 2px solid #d2d2d2;
	}

	.admin-buyer-manage-form {
		margin-left: 5px;
		margin-top: 40px;
		margin-bottom: 20px;
		margin-right: 5px;
		border-radius: 12px;
		border: 2px solid #d2d2d2;
	}

	.admin-logout-button-nav {
		margin-top: 10px;
		margin-left: 5px;
		display: flex;
		flex-wrap: wrap;
		grid-gap: 15px;
	}

	.admin-buyer-manage-data-header {
		display: flex;
		/* grid-template-columns: 1fr; */
		flex-direction: column;
	}

	.admin-buyer-manage-file-upload {
		padding-top: 16px;
		padding-left: 16px;
		padding-right: 16px;
		padding-bottom: 10px;
		border-radius: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.admin-buyer-manage-file-upload-button {
		background-color: #5925dc;
		color: white;
		margin-top: 15px;
		padding: 8px 13px;
		border: none;
		border-radius: 4px;
		cursor: pointer;
		font-size: 13px;
	}

	.admin-buyer-manage-data-table-head {
		color: #1a1a1a;
		font-family: 'Urbanist';
		font-size: 10px;
		font-style: bold;
	}

	.admin-buyer-manage-data-table-body {
		color: #767676;
		font-family: 'Urbanist';
		font-size: 8px;
		font-style: bold;
		font-weight: 400;
		line-height: 28px;
		letter-spacing: -0.289px;
	}

	.admin-buyer-manage-form-button {
		color: #fefefe;
		text-align: center;
		font-feature-settings: 'clig' off, 'liga' off;
		font-family: 'Urbanist';
		font-size: 10px;
		font-style: normal;
		font-weight: 600;
		line-height: 26px;
		letter-spacing: -0.289px;
		width: 40%;
		height: 40px;
		flex-shrink: 0;
		border-radius: 6px;
		border: 1px solid #5925dc;
		background: #5925dc;
		margin-bottom: 20px;
		margin-top: 20px;
	}

	.admin-buyer-manage-form-input {
		border-radius: 6px;
		border: 1px solid #ededed;
		background: #ededed;
		height: 35px;
		width: 75%;
		margin-bottom: 20px;
		color: #767676;
		font-family: 'Urbanist';
		font-size: 10px;
		font-style: normal;
		font-weight: 400;
		line-height: 26px;
		letter-spacing: -0.289px;
	}
}