.Admin-login-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 820px;
    height: 400px;
    border-radius: 40px;
    background: linear-gradient(142deg, rgba(89, 37, 220, 0.58) 28.73%, rgba(37, 209, 220, 0.35) 99.55%);
}

.Admin-login {
    width: 500px;
    height: 400px;
    border-radius: 40px;
    background: #FFF;
}

.Admin-login-head {
    color: #030303;
    font-family: "Urbanist";
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1.2px;
    line-height: normal;
    text-align: center;
    margin-bottom: 0;
}

.error-message-email {
    margin-left: 180px;
    font-family: "Urbanist";
    font-size: 20px;
    color: red;
}

.error-message-password {
    margin-left: 160px;
    font-family: "Urbanist";
    font-size: 20px;
    color: red;
}

.Admin-label {
    color: #000000;
    font-family: "Urbanist";
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.48px;
    line-height: normal;
    text-align: left;
    margin-left: 100px;

}

.Admin-login-input {
    width: 342.872px;
    height: 50.746px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.75);
    background: rgba(196, 196, 196, 0.00);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    color: #636364;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.42px;
    margin-left: 70px;
    margin-top: 30px;
}

.Admin-login-button {
    /* margin-top: 30px; */
    margin-left: 180px;
}

.Admin-login-button-value {
    background-color: #5925DC;
    border-radius: 6px;
    height: 56px;
    position: relative;
    width: 134px;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.72px;
    margin-top: 15px;
}

.Admin-login-error {
    color: red;
    font-family: "Urbanist";
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin-right: 5px;
}

.Admin-login-content {
    color: #fff;
    font-family: "Urbanist";
    text-align: center;
    text-transform: uppercase;
}

.Admin-login-content-head {
    color: #fff;
    font-family: "Poppins-Black", Helvetica;
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
}

.Admin-login-content-body {
    color: #000;
    font-family: "Urbanist";
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
}

.Admin-login-not-req {
    color: #000;
    font-family: "Urbanist";
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 0;
}

.admin-a {
    text-decoration: none;
    color: #5925DC;
    font-family: "Urbanist";
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 20px;
    margin-bottom: 0;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .Admin-login-container {
        display: grid;
        grid-template-columns: 1fr;
        width: 500px;
        height: 600px;
        border-radius: 40px;
        background: linear-gradient(142deg, rgba(89, 37, 220, 0.58) 28.73%, rgba(37, 209, 220, 0.35) 99.55%);
    }
}

@media only screen and (min-width: 451px) and (max-width: 768px) {
    .Admin-login {
        width: 350px;
        height: 350px;
        border-radius: 40px;
        background: #FFF;
    }

    .Admin-login-container {
        display: grid;
        grid-template-columns: 1fr;
        width: 350px;
        height: 532px;
        border-radius: 40px;
        background: linear-gradient(142deg, rgba(89, 37, 220, 0.58) 28.73%, rgba(37, 209, 220, 0.35) 99.55%);
    }

    .Admin-login-head {
        color: #030303;
        font-family: "Urbanist";
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 1.2px;
        line-height: normal;
        text-align: center;
    }

    .Admin-label {
        color: #000000;
        font-family: "Urbanist";
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 0.48px;
        line-height: normal;
        text-align: left;
        margin-left: 25px;
    }

    .Admin-login-input {
        width: 295.872px;
        height: 40.746px;
        flex-shrink: 0;
        border-radius: 12px;
        border: 1px solid rgba(0, 0, 0, 0.75);
        background: rgba(196, 196, 196, 0.00);
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
        color: #636364;
        text-align: center;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 0.42px;
        margin-left: 25px;
    }

    .Admin-login-content-head {
        color: #fff;
        font-family: "Poppins-Black", Helvetica;
        font-size: 20px;
        font-weight: 500;
        text-transform: uppercase;
    }

    .Admin-login-content-body {
        color: #000;
        font-family: "Urbanist";
        font-size: 20px;
        font-weight: 500;
        text-transform: uppercase;
    }

    .Admin-login-button {
        margin-top: 20px;
        margin-left: 115px;
    }

    .Admin-login-button-value {
        background-color: #5925DC;
        border-radius: 6px;
        height: 45px;
        position: relative;
        width: 134px;
        color: #FFF;
        text-align: center;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.72px;
    }

    .Admin-login-not-req {
        color: #000;
        font-family: "Urbanist";
        font-size: 15px;
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;
        margin-right: 13px;
    }

    .admin-a {
        text-decoration: none;
        color: #5925DC;
        font-family: "Urbanist";
        font-size: 15px;
        font-weight: 500;
        text-transform: uppercase;
        margin-left: 20px;
    }

    .error-message-email {
        margin-left: 120px;
        font-family: "Urbanist";
        font-size: 16px;
        color: red;
    }

    .error-message-password {
        margin-left: 100px;
        font-family: "Urbanist";
        font-size: 16px;
        color: red;
    }
}

@media only screen and (max-width: 450px) {
    .Admin-login-container {
        display: grid;
        grid-template-columns: 1fr;
        width: 300px;
        height: 416px;
        border-radius: 40px;
        background: linear-gradient(142deg, rgba(89, 37, 220, 0.58) 28.73%, rgba(37, 209, 220, 0.35) 99.55%);
    }

    .Admin-login {
        width: 300px;
        height: 300px;
        border-radius: 40px;
        background: #FFF;
    }

    .Admin-login-head {
        color: #030303;
        font-family: "Urbanist";
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 1.2px;
        line-height: normal;
        text-align: center;
    }

    .Admin-label {
        color: #000000;
        font-family: "Urbanist";
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.48px;
        line-height: normal;
        text-align: left;
        margin-left: 25px;
    }

    .Admin-login-input {
        width: 248.872px;
        height: 35.746px;
        flex-shrink: 0;
        border-radius: 12px;
        border: 1px solid rgba(0, 0, 0, 0.75);
        background: rgba(196, 196, 196, 0.00);
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
        color: #636364;
        text-align: center;
        font-family: Poppins;
        font-size: 15px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 0.42px;
        margin-left: 25px;
    }

    .Admin-login-content-head {
        color: #fff;
        font-family: "Poppins-Black", Helvetica;
        font-size: 15px;
        font-weight: 500;
        text-transform: uppercase;
    }

    .Admin-login-content-body {
        color: #000;
        font-family: "Urbanist";
        font-size: 15px;
        font-weight: 500;
        text-transform: uppercase;
    }

    .Admin-login-button {
        margin-top: 20px;
        margin-left: 98px;
    }

    .Admin-login-button-value {
        background-color: #5925DC;
        border-radius: 6px;
        height: 35px;
        position: relative;
        width: 110px;
        color: #FFF;
        text-align: center;
        font-family: Poppins;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.72px;
        margin-top: 0px;
    }

    .Admin-login-not-req {
        color: #000;
        font-family: "Urbanist";
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;
        margin-right: 13px;
    }

    .admin-a {
        text-decoration: none;
        color: #5925DC;
        font-family: "Urbanist";
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        margin-left: 20px;
    }

    .error-message-email {
        margin-left: 110px;
        font-family: "Urbanist";
        font-size: 12px;
        color: red;
    }

    .error-message-password {
        margin-left: 100px;
        font-family: "Urbanist";
        font-size: 12px;
        color: red;
    }
}