/* admin-company-manager component styles */
.admin-company-manager {
	display: grid;
	grid-template-columns: 1fr 1fr;
	text-align: center;
}

.admin-company-manager-data {
	margin-left: 75px;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-right: 25px;
	border-radius: 15px;
	max-height: 620px;
	border: 2px solid #d2d2d2;
}

.table-scroll-company {
	height: 450px;
	overflow-y: scroll;
}

.admin-company-manager-data-title {
	font-family: 'Urbanist';
	font-size: 26px;
	font-style: normal;
	font-weight: 600;
	line-height: 38px;
	letter-spacing: -0.578px;
	text-align: left;
	padding-left: 50px;
}

.admin-company-manager-data-table-head {
	color: #1a1a1a;
	font-family: 'Urbanist';
	font-size: 18px;
	font-style: bold;
}

.admin-company-manager-data-table {
	margin-top: 20px;
	margin-bottom: 20px;
	border-collapse: collapse;
	width: 100%;
}

.admin-company-manager-data-table-body {
	color: #767676;
	font-family: 'Urbanist';
	font-size: 16px;
	font-style: bold;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: -0.289px;
}

.admin-company-manager-data-table-button {
	color: #fefefe;
	font-family: 'Urbanist';
	font-size: 15px;
	font-style: normal;
	font-weight: 600;
	line-height: 28px;
	letter-spacing: -0.325px;
	background-color: #5925dc;
	border-radius: 3px;
	border: 1px solid #5925dc;
}

.admin-company-manager-data-table-button:hover {
	cursor: pointer;
}

.pagination-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	list-style-type: none;
}

.pagination-container li {
	padding: 10px;
	border: 1px solid #5925dc;
	border-radius: 3px;
	color: #fff;
	font-family: 'Urbanist';
	font-size: 15px;
	font-style: normal;
	font-weight: 600;
	line-height: 28px;
	letter-spacing: -0.325px;
	background-color: #5925dc;
	margin: 5px;
}

.pagination-container li:hover {
	cursor: poCalibri;
}

.pagination-container .active {
	background-color: #767676;
	color: #fff;
}

.pagination-container .disabled {
	color: #ada9a9;
	cursor: not-allowed;
}

.admin-company-manager-form {
	margin-left: 25px;
	margin-top: 100px;
	margin-right: 75px;
	margin-bottom: 100px;
	border-radius: 15px;
	border: 2px solid #d2d2d2;
}

.admin-company-manager-form-title {
	font-family: 'Urbanist';
	font-size: 26px;
	font-style: normal;
	font-weight: 600;
	line-height: 38px;
	letter-spacing: -0.578px;
	text-align: left;
	padding-left: 50px;
}

.admin-company-manager-form-input-high {
	border-radius: 6px;
	border: 1px solid #ededed;
	background: #ededed;
	height: 50px;
	width: 86%;
	margin-top: 20px;
	color: var(--color-grey-60, #767676);
	font-family: 'Urbanist';
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: -0.289px;
	text-transform: uppercase;
}

.admin-company-manager-form-input-low {
	border-radius: 6px;
	border: 1px solid #ededed;
	background: #ededed;
	height: 50px;
	width: 40%;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
	color: var(--color-grey-60, #767676);
	font-family: 'Urbanist';
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px;
	/* 162.5% */
	letter-spacing: -0.289px;
}

.admin-company-manager-form-button {
	color: var(--color-white-100, #fefefe);
	text-align: center;
	font-feature-settings: 'clig' off, 'liga' off;
	font-family: 'Urbanist';
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 26px;
	letter-spacing: -0.289px;
	width: 331px;
	height: 48px;
	flex-shrink: 0;
	border-radius: 6px;
	border: 1px solid #5925dc;
	background: var(--color-primary-1, #5925dc);
	margin-bottom: 20px;
	margin-top: 20px;
}

.admin-company-manager-form-button:hover {
	cursor: pointer;
}

.highlight {
	color: green !important;
}

.admin-company-manage-form-input-checkbox {
	width: 16px;
	height: 16px;
}

.admin-company-manage-form-input-checkbox-label {
	color: var(--color-grey-100, #1a1a1a);
	font-feature-settings: 'clig' off, 'liga' off;
	font-family: 'Urbanist';
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: -0.289px;
}

@media only screen and (min-width: 1025px) and (max-width: 1260px) {
	.admin-company-manager-form-input-low {
		border-radius: 6px;
		border: 1px solid #ededed;
		background: #ededed;
		height: 50px;
		width: 86%;
		margin-bottom: 20px;
		color: var(--color-grey-60, #767676);
		font-family: 'Urbanist';
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: 26px;
		letter-spacing: -0.289px;
	}
}

/* Mobile styles - 768px width and below */
@media only screen and (max-width: 1024px) {
	.admin-company-manager {
		display: grid;
		grid-template-columns: 1fr;
		text-align: center;
		align-items: center;
	}

	.admin-company-manager-data {
		margin-left: 35px;
		margin-top: 100px;
		margin-bottom: 100px;
		margin-right: 35px;
		border-radius: 15px;
		border: 2px solid #d2d2d2;
	}

	.admin-company-manager-form {
		margin-left: 35px;
		margin-top: 100px;
		margin-bottom: 100px;
		margin-right: 35px;
		border-radius: 15px;
		border: 2px solid #d2d2d2;
	}

	.admin-logout-button-nav {
		margin-top: 10px;
		margin-left: 5px;
		display: flex;
		flex-wrap: wrap;
		grid-gap: 15px;
		justify-content: space-evenly;
	}
}

@media only screen and (min-width: 451px) and (max-width: 768px) {
	.imge {
		width: 300px;
		height: auto;
	}

	.admin-company-manager-data {
		margin-left: 15px;
		margin-top: 40px;
		margin-bottom: 20px;
		margin-right: 15px;
		border-radius: 12px;
		border: 2px solid #d2d2d2;
	}

	.admin-company-manager-form {
		margin-left: 15px;
		margin-top: 40px;
		margin-bottom: 20px;
		margin-right: 15px;
		border-radius: 12px;
		border: 2px solid #d2d2d2;
	}

	.admin-company-manager-data-title {
		font-family: 'Urbanist';
		font-size: 26px;
		font-style: normal;
		font-weight: 600;
		line-height: 38px;
		letter-spacing: -0.578px;
		text-align: left;
		padding-left: 50px;
	}

	.admin-company-manager-data-table-head {
		color: #1a1a1a;
		font-family: 'Urbanist';
		font-size: 15px;
		font-style: bold;
	}

	.admin-company-manager-data-table-body {
		color: #767676;
		font-family: 'Urbanist';
		font-size: 12px;
		font-style: bold;
		font-weight: 400;
		line-height: 28px;
		letter-spacing: -0.289px;
	}

	.admin-user-manager-form-input {
		border-radius: 6px;
		border: 1px solid #ededed;
		background: #ededed;
		height: 35px;
		width: 75%;
		margin-bottom: 20px;
		color: var(--color-grey-60, #767676);
		font-family: 'Urbanist';
		font-size: 15px;
		font-style: normal;
		font-weight: 400;
		line-height: 26px;
		letter-spacing: -0.289px;
	}

	.admin-company-manager-form-input {
		border-radius: 6px;
		border: 1px solid #ededed;
		background: #ededed;
		height: 35px;
		width: 75%;
		margin-bottom: 20px;
		color: #767676;
		font-family: 'Urbanist';
		font-size: 15px;
		font-style: normal;
		font-weight: 400;
		line-height: 26px;
		letter-spacing: -0.289px;
	}

	.admin-company-manager-form-title {
		font-family: 'Urbanist';
		font-size: 26px;
		font-style: normal;
		font-weight: 600;
		line-height: 38px;
		letter-spacing: -0.578px;
		text-align: left;
		padding-left: 50px;
	}

	.admin-company-manager-form-input-checkbox-label {
		color: #1a1a1a;
		font-feature-settings: 'clig' off, 'liga' off;
		font-family: 'Urbanist';
		font-size: 13px;
		font-style: normal;
		font-weight: 400;
		line-height: 26px;
		letter-spacing: -0.289px;
	}

	.admin-company-manager-form-button {
		color: #fefefe;
		text-align: center;
		font-feature-settings: 'clig' off, 'liga' off;
		font-family: 'Urbanist';
		font-size: 14px;
		font-style: normal;
		font-weight: 600;
		line-height: 26px;
		letter-spacing: -0.289px;
		width: 140px;
		height: 40px;
		flex-shrink: 0;
		border-radius: 6px;
		border: 1px solid #5925dc;
		background: #5925dc;
		margin-bottom: 20px;
		margin-top: 20px;
	}

	.admin-company-manager-form-input-high {
		border-radius: 6px;
		border: 1px solid #ededed;
		background: #ededed;
		height: 40px;
		width: 75%;
		margin-bottom: 12px;
		color: var(--color-grey-60, #767676);
		font-family: 'Urbanist';
		font-size: 15px;
		font-style: normal;
		font-weight: 400;
		line-height: 26px;
		letter-spacing: -0.289px;
	}

	.admin-company-manager-form-input-low {
		border-radius: 6px;
		border: 1px solid #ededed;
		background: #ededed;
		height: 40px;
		width: 35%;
		margin-bottom: 20px;
		margin-left: 20px;
		margin-right: 20px;
		color: var(--color-grey-60, #767676);
		font-family: 'Urbanist';
		font-size: 15px;
		font-style: normal;
		font-weight: 400;
		line-height: 26px;
		letter-spacing: -0.289px;
	}

	.admin-company-manage-form-input-checkbox-label {
		color: var(--color-grey-100, #1a1a1a);
		font-feature-settings: 'clig' off, 'liga' off;
		font-family: 'Urbanist';
		font-size: 15px;
		font-style: normal;
		font-weight: 400;
		line-height: 26px;
		letter-spacing: -0.289px;
	}

	.admin-company-manager-data-table-button {
		color: #fefefe;
		font-family: 'Urbanist';
		font-size: 12px;
		font-style: normal;
		font-weight: 600;
		line-height: 28px;
		letter-spacing: -0.325px;
		background-color: #5925dc;
		border-radius: 3px;
		border: 1px solid #5925dc;
	}
}

@media only screen and (max-width: 450px) {
	.imge {
		width: 250px;
		height: auto;
	}

	.admin-company-manager-data {
		margin-left: 15px;
		margin-top: 40px;
		margin-bottom: 20px;
		margin-right: 15px;
		border-radius: 12px;
		border: 2px solid #d2d2d2;
	}

	.admin-company-manager-form {
		margin-left: 15px;
		margin-top: 40px;
		margin-bottom: 20px;
		margin-right: 15px;
		border-radius: 12px;
		border: 2px solid #d2d2d2;
	}

	.admin-company-manager-data-title {
		font-family: 'Urbanist';
		font-size: 15px;
		font-style: normal;
		font-weight: 600;
		line-height: 38px;
		letter-spacing: -0.578px;
		text-align: left;
		padding-left: 50px;
	}

	.admin-company-manager-data-table-head {
		color: #1a1a1a;
		font-family: 'Urbanist';
		font-size: 10px;
		font-style: bold;
	}

	.admin-company-manager-data-table-body {
		color: #767676;
		font-family: 'Urbanist';
		font-size: 8px;
		font-style: bold;
		font-weight: 400;
		line-height: 28px;
		letter-spacing: -0.289px;
	}

	.admin-user-manager-form-input {
		border-radius: 6px;
		border: 1px solid #ededed;
		background: #ededed;
		height: 35px;
		width: 75%;
		margin-bottom: 20px;
		color: var(--color-grey-60, #767676);
		font-family: 'Urbanist';
		font-size: 10px;
		font-style: normal;
		font-weight: 400;
		line-height: 26px;
		letter-spacing: -0.289px;
	}

	.admin-company-manager-form-input {
		border-radius: 6px;
		border: 1px solid #ededed;
		background: #ededed;
		height: 35px;
		width: 75%;
		margin-bottom: 20px;
		color: #767676;
		font-family: 'Urbanist';
		font-size: 10px;
		font-style: normal;
		font-weight: 400;
		line-height: 26px;
		letter-spacing: -0.289px;
	}

	.admin-company-manager-form-title {
		font-family: 'Urbanist';
		font-size: 15px;
		font-style: normal;
		font-weight: 600;
		line-height: 38px;
		letter-spacing: -0.578px;
		text-align: left;
		padding-left: 50px;
	}

	.admin-company-manager-form-input-checkbox-label {
		color: #1a1a1a;
		font-feature-settings: 'clig' off, 'liga' off;
		font-family: 'Urbanist';
		font-size: 10px;
		font-style: normal;
		font-weight: 400;
		line-height: 26px;
		letter-spacing: -0.289px;
	}

	.admin-company-manager-form-button {
		color: #fefefe;
		text-align: center;
		font-feature-settings: 'clig' off, 'liga' off;
		font-family: 'Urbanist';
		font-size: 12px;
		font-style: normal;
		font-weight: 600;
		line-height: 26px;
		letter-spacing: -0.289px;
		width: 140px;
		height: 40px;
		flex-shrink: 0;
		border-radius: 6px;
		border: 1px solid #5925dc;
		background: #5925dc;
		margin-bottom: 20px;
		margin-top: 20px;
	}

	.admin-company-manager-form-input-high {
		border-radius: 6px;
		border: 1px solid #ededed;
		background: #ededed;
		height: 40px;
		width: 75%;
		margin-bottom: 12px;
		color: var(--color-grey-60, #767676);
		font-family: 'Urbanist';
		font-size: 10px;
		font-style: normal;
		font-weight: 400;
		line-height: 26px;
		letter-spacing: -0.289px;
	}

	.admin-company-manager-form-input-low {
		border-radius: 6px;
		border: 1px solid #ededed;
		background: #ededed;
		height: 40px;
		width: 75%;
		margin-bottom: 12px;
		color: var(--color-grey-60, #767676);
		font-family: 'Urbanist';
		font-size: 10px;
		font-style: normal;
		font-weight: 400;
		line-height: 26px;
		letter-spacing: -0.289px;
	}

	.admin-company-manage-form-input-checkbox-label {
		color: var(--color-grey-100, #1a1a1a);
		font-feature-settings: 'clig' off, 'liga' off;
		font-family: 'Urbanist';
		font-size: 10px;
		font-style: normal;
		font-weight: 400;
		line-height: 26px;
		letter-spacing: -0.289px;
	}

	.admin-company-manager-data-table-button {
		color: #fefefe;
		font-family: 'Urbanist';
		font-size: 10px;
		font-style: normal;
		font-weight: 600;
		line-height: 28px;
		letter-spacing: -0.325px;
		background-color: #5925dc;
		border-radius: 3px;
		border: 1px solid #5925dc;
	}

	.admin-company-manage-form-input-checkbox {
		width: 12px;
		height: 12px;
	}
}