.staff-dashboard-title {
    color: #1A1A1A;
    font-family: "Urbanist";
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 62px;
    letter-spacing: -0.939px;
    text-align: center;
}
.staff-dashboard-buttons-row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    margin-bottom: 50px;
}
.staff-dashboard-button{
    width: 300px;
    height: 200px;
    border-radius: 15px;
    border: 2px solid #D2D2D2;
    background: none;
    color: #1A1A1A;
    margin: 30px auto;
    font-family: "Urbanist";
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.361px;
}
.staff-dashboard-button-icon{
    padding-left: 70px;
    padding-right: 70px;
}

.staff-logout-icon{
    padding-left: 10%;
    width: 40px;
    height: 40px;
   
}

.staff-logout-container{
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.staff-logout-button-value{
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 50px;
    width: 200px;
    border-radius: 15px;
    border: 2px solid #D2D2D2;
    font-family: "Urbanist";
    font-size: 24px;
    background-color: #fff;
    color: #000;
    padding-top: 10px;
}

/* Tablet styles - 1600px width and below */
@media only screen and (max-width: 1600px) {
    .staff-dashboard-buttons-row {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* Mobile styles - 1200px width and below */
@media only screen and (max-width: 1200px) {
    .staff-dashboard-buttons-row {
        grid-template-columns: 1fr 1fr;
    }
}

/* Mobile styles - 768px width and below */
@media only screen and (max-width: 768px) {
    .staff-dashboard-buttons-row {
        grid-template-columns: 1fr;
    }
    .staff-dashboard-button{
        width: 300px;
        height: 70px;
        border-radius: 15px;
        border: 2px solid #D2D2D2;
        background: none;
        color: #1A1A1A;
        margin: auto;
        margin-bottom: 20px;
        font-family: "Urbanist";
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.361px;
    }
    .staff-card-box {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .staff-dashboard-button-icon {
        padding-left: 30px;
        padding-right: 30px;
        width: 50px;
        height: 50px;
    }
    .staff-logout-button-value {
        display: grid;
        grid-template-columns: 3fr 1fr;
        height: 40px;
        width: 115px;
        border-radius: 15px;
        border: 2px solid #D2D2D2;
        font-family: "Urbanist";
        font-size: 14px;
        background-color: #fff;
        color: #000;
        padding-top: 10px;
    }
}