.vechicle-manage {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.vechicle-manage-data{
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 50px;
    border-radius: 15px;
    border: 2px solid #D2D2D2;
}
.vechicle-manage-data-title{
    font-family: Urbanist;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px; 
    letter-spacing: -0.578px;
    text-align: left;
}
.vechicle-manage-data-table-head{
    color:  #1A1A1A;
    font-family: Inter;
    font-size: 20px;
    font-style: Bold;
}
.vechicle-manage-data-table{
    margin-top: 20px;
    margin-bottom: 20px;
    border-collapse: collapse;
    width: 100%;
}
.vechicle-manage-data-table-body{
    color: #767676;
    font-family: Inter;
    font-size: 20px;
    font-style: Bold;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.289px;
}
.highlight{
    color: green !important;
}

.vechicle-manage-form{
    margin-left: 50px;
    margin-top: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    border-radius: 15px;
    border: 2px solid #D2D2D2;
}
.vechicle-manage-form-title{
    font-family: Urbanist;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px; 
    letter-spacing: -0.578px;
    text-align: left;
    padding-left: 50px;
}
.vechicle-manage-form-input-high{
    border-radius: 6px;
    border: 1px solid #ededed;
    background: #EDEDED;
    height: 50px;
    width: 86%;
    margin-bottom: 20px;
    color: var(--color-grey-60, #767676);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    letter-spacing: -0.289px;
}
.vechicle-manage-form-input-low{
    border-radius: 6px;
    border: 1px solid #ededed;
    background: #EDEDED;
    height: 50px;
    width: 40%;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    color: var(--color-grey-60, #767676);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    letter-spacing: -0.289px;
}
.vechicle-manage-form-button{
    color: var(--color-white-100, #FEFEFE);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Urbanist;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px; 
    letter-spacing: -0.289px;
    width: 331px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #5925DC;
    background: var(--color-primary-1, #5925DC);
    margin-bottom: 20px;
    margin-top: 20px;
}
.vechicle-manage-form-input-checkbox{
    width: 16px;
    height: 16px;
}
.vechicle-manage-form-input-checkbox-label{
    color: var(--color-grey-100, #1A1A1A);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Urbanist;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.289px;
}
.vechicle-manage-data-table-button{
    color: #FEFEFE;
    font-family: Urbanist;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.325px;
    background-color: #5925DC;
    border-radius: 3px;
    border: 1px solid #5925DC;
}
.pagination-container{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}
.pagination-container li{
    padding: 10px;
    border: 1px solid #5925DC;
    border-radius: 3px;
    color: #fff;
    font-family: Urbanist;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.325px;
    background-color: #5925DC;
    margin: 5px;
}
.pagination-container li:hover{
    cursor: pointer;
}
.pagination-container .active{
    background-color: #767676;
    color: #fff;
}
.pagination-container .disabled{
    color: #ada9a9;
    cursor: not-allowed;
}

/* Styles for tablets */
@media only screen and (max-width: 768px) {
  .vechicle-manage {
    display: flex;
    flex-direction: column;
  }
  .vechicle-manage-data,
  .vechicle-manage-form {
    margin: 25px;
    width: 90%;
  }

  .vechicle-manage-data {
    margin-right: 0; /* Reset margin for tablets */
  }

  .vechicle-manage-data-title {
      font-family: Urbanist;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 38px;
      letter-spacing: -0.578px;
      text-align: left;
    }
    
    .vechicle-manage-data-table {
      margin-top: 10px;
      margin-bottom: 10px;
      border-collapse: collapse;
      width: 100%;
    }
      
    .vechicle-manage-data-table-head {
      color: #1A1A1A;
      font-family: Inter;
      font-size: 12px;
      font-style: bold;
    }
      
    .vechicle-manage-data-table-body {
      padding-left: 25px;
      color: #767676;
      font-family: Inter;
      font-size: 12px;
      font-style: bold;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: -0.289px;
    }
    .vechicle-manage-data-table-button {
      color: #FEFEFE;
      font-family: Urbanist;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: -0.325px;
      background-color: #5925DC;
      border-radius: 3px;
      border: 1px solid #5925DC;
    }

    .vechicle-manage-form-input-high{
      border-radius: 6px;
      border: 1px solid #ededed;
      background: #EDEDED;
      height: 50px;
      width: 86%;
      margin-bottom: 20px;
      color: var(--color-grey-60, #767676);
      font-family: Inter;
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px; 
      letter-spacing: -0.289px;
      margin-left: 22px;
  }
  .vechicle-manage-form-input-low{
      border-radius: 6px;
      border: 1px solid #ededed;
      background: #EDEDED;
      height: 50px;
      width: 40%;
      margin-bottom: 20px;
      margin-left: 20px;
      margin-right: 20px;
      color: var(--color-grey-60, #767676);
      font-family: Inter;
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px; /* 162.5% */
      letter-spacing: -0.289px;
  }
  
    .vechicle-manage-form-title {
      font-family: Urbanist;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 38px;
      letter-spacing: -0.578px;
      text-align: left;
      padding-left: 25px;
    }
  
    .vechicle-manage-form-input {
      margin-left: 25px;
      border-radius: 6px;
      border: 1px solid #ededed;
      background: #EDEDED;
      height: 30px;
      width: 76%;
      margin-bottom: 10px;
      color: #767676;
      font-family: Inter;
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: -0.289px;
    }
  
    .vechicle-manage-form-input-checkbox {
      margin-left: 25px;
      width: 12px;
      height: 12px;
    }
    
    .vechicle-manage-form-input-checkbox-label {
      color: #1A1A1A; 
      font-feature-settings: 'clig' off, 'liga' off;
      font-family: Urbanist;
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: -0.289px;
    }

  .vechicle-manage-form-button{
      color: var(--color-white-100, #FEFEFE);
      text-align: center;
      font-feature-settings: 'clig' off, 'liga' off;
      font-family: Urbanist;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 26px; 
      letter-spacing: -0.289px;
      width: 231px;
      height: 48px;
      flex-shrink: 0;
      border-radius: 6px;
      border: 1px solid #5925DC;
      background: var(--color-primary-1, #5925DC);
      margin-bottom: 20px;
      margin-top: 20px;
      margin-left: 70px;
  }
}

/* Styles for laptops */
@media only screen and (min-width: 769px) and (max-width: 1299px) {
  .vechicle-manage {
    display: flex;
    flex-direction: column;
  }
  .vechicle-manage-data,
  .vechicle-manage-form {
    margin: 50px;
    width: 90%;
  }
}

/* Styles for desktops */
@media only screen and (min-width: 1300px) {
  .vechicle-manage-data,
  .vechicle-manage-form {
    margin: 100px 50px;
    width: 90%;
  }
}